{% extends 'main_template.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Otomasi" "#" %}
  {% breadcrumb "Log" "log" %}
  {% endblock %}

{% block content %}
  
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
    <h2 class="">Log</h2>        
        
    <table class="mt-3 table"> 
        <tbody><tr>
            <th>Target</th>
            <th>Action</th>
            <th>Status</th>
            <th>Time</th>
            <th>Messages</th>
        </tr>
        {% for log in logs %}
        <tr>
                <td>{{ log.target }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.status }}</td>
                <td>{{ log.time }}</td>
                <td>{{ log.messages }}</td>
            </tr>
        {% endfor %}
        </tbody></table>
{% endblock content %}