{% extends 'main_template.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Otomasi" "#" %}
  {% breadcrumb "NMap" "nmap" %}
  {% endblock %}

{% block content %}
  
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
    <h2 class="">Network Mapper</h2>
    

    <table class="table">
        <tbody><tr>
            <th>IP Address Detected</th>
            <th>Status</th>
        </tr>
        {% for res in iter_nmap %}
            {% cycle '<tr>' '' %}
                <td>{{ res }}</td>
                {% cycle '' '</tr>' %}
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
